/*général entête+menu (toutes les pages)*/

body {
    background: #F4F3F3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial, sans-serif';
    text-decoration: none;
    height: 1200px;
    margin: 0;
}

.titre {
    font-size: 50px;
    padding: 20px;
    text-decoration: none;
}

#header1 {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: #002d72;
    width: 100%;
}

header {
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    top: 0;
}


/*menu*/

div.menu {
    color: white;
    background-color: white;
    font-size: 1.4rem;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: #C4C4C4 solid 2px;
}

div.menu a {
    display: inline-block;
    font-weight: bold;
    color: #002d72;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.menu a:hover {
    transition-delay: 0, 2s;
    box-shadow: inset 0 -4px 0 0;
}


/*Fin général entête + menu */


/*User-panier*/

div.user {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2rem;
    width: 20%;
}

div.user a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
}

div.user a:hover {
    color: rgb(150, 235, 133);
    transition-delay: 0, 2s;
}


/* Barre de recherche */

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.recherche {
    display: flex;
    background-color: white;
    border: solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 680px;
    outline: 0;
    height: 20px;
    padding: 0.3rem;
}

.search {
    border: none;
    width: 100%;
    outline: none;
}

.pdv {
    color: white;
    background-color: #002d72;
    font-size: 2.6rem;
    background-repeat: no-repeat;
    width: fit-content;
    height: 50%;
}

.pdv a {
    color: white;
}


/* début footer général*/

footer {
    overflow: auto;
    font-size: 10px;
    margin-top: 10px;
    background-color: #002d72;
}

footer p {
    margin-top: 4px;
    color: rgb(255, 255, 255);
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#footerinfo {
    display: flex;
    justify-content: center;
}

#reseau {
    order: 1;
    margin-top: 3px;
    margin-left: 10px;
    font-size: 15px;
    flex: 1;
}

#logo {
    flex: 1;
    order: 2;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#contact {
    flex: 1;
    order: 3;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#Createur {
    margin-left: 10px;
    text-align: center;
}

@media screen and (max-width:480px) {
    #header2 {
        width: auto;
        height: 100%;
        float: none;
    }
}


/*fin footer général*/