#presentation{
    width: min-content;
    height: 300px;
    margin-left: 22%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    align-items: center;
}

h2{
    color: #002d72;
}

#slides>img{
    height: 233px;
    width: auto;
}

#conteneur {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
}

#titreconteneur {
    height: auto;
    text-align: left;
    color: #002d72;
    font-size: 30px;
}

#Top {
    display: flex;
    flex-direction: column;
    height: 28%;
    text-align: left;
    background-color: #F4F3F3;
}

#legumes {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: space-around;

}

#fruits {
    height: auto;
    width: 100%;

}

#vpo {  
    height: auto;
    width: 100%;

}

#promos {
    display: flex;
    align-items: center;
    margin-top: 85px;
    margin-left: 20px;
}

#conteneurPromos{
    width: max-content;
    height: 28%;
    display: block;
}

#promos #titreconteneur{
    width: 18%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 3rem;
    border-radius: 10px;
    background-color: #002d72;
    color: white;
}



#labels {
    display: flex;
    flex-direction: column;
    height: 28%;
    width: 38%;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}








